@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
/*STYLE SCROLLBAR*/
* {
  scrollbar-width: auto;
  scrollbar-color: #ffd700 #000000;
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #000000;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffd700;
  border-radius: 10px;
  border: 3px inset #000000;
}

/*STYLE SCROLLBAR*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  background-color: black;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

header {
  width: 100%;
  background-color: #1E1E1E;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 3%;
}

header .logo-header {
  position: relative;
  left: -12px;
}

nav.menu-desktop ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav.menu-desktop li {
  margin-left: 20px;
}

nav.menu-desktop a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.container {
  margin: 0 auto;
  padding: 0 3%;
  max-width: 1282px;
}

.banner-home {
  width: 100%;
  margin: 20px 0;
  padding: 20px 0;
  background-color: rgba(255, 215, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  border-radius: 8px;
}

.bannerHome-top3 {
  width: 100%;
  padding: 0 25px;
  position: absolute;
  -webkit-transition: 1s;
  transition: 1s;
}

.bannerHome-top3 h1 {
  margin-bottom: 20px;
}

.bannerGenre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bannerGenre div:nth-of-type(2n+1) {
  border-left: 2px solid rgba(255, 215, 0, 0.3);
  border-radius: 8px;
  padding-left: 5px;
}

.bannerHomeSlider-bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 360px;
}

.bannerHomeSlider-bullets span {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(250, 250, 250, 0.3);
  display: block;
  margin: 0 5px;
}

.preview-wrapper {
  width: 100%;
  background-color: #1E1E1E;
  padding: 10px 8px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.preview-texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2px;
  margin-bottom: 10px;
  padding: 0 8px;
}

.preview-texts h2 {
  font-size: 26px;
  width: 30%;
}

.preview-texts-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40%;
}

.preview-arrowLeft:hover, .preview-arrowRight:hover {
  background-color: #191919;
}

.previewSlider-bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3px;
}

.previewSlider-bullets span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(250, 250, 250, 0.3);
  display: block;
  margin: 0 8px;
}

.preview-texts a {
  text-decoration: none;
  color: gold;
  font-weight: bold;
  width: 30%;
  text-align: right;
}

.preview-images {
  width: 100%;
  overflow-x: hidden;
}

.previewScrollBar {
  width: 300%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.previewScrollBar div {
  padding: 0 8px;
}

.templateFilme-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
}

.templateFilme-images {
  width: 32%;
}

.templateFilme-infos {
  width: 46%;
  padding-left: 20px;
}

.templateFilme-distrib {
  width: calc(22% - 15px);
  height: 350px;
  margin-left: 15px;
  padding: 8px 10px 0 10px;
  background-color: rgba(255, 215, 0, 0.1);
}

.TemplateFilmeVideo-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
  .bannerGenre div:nth-of-type(5), .bannerGenre div:nth-of-type(6) {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .preview-texts h2 {
    font-size: 22px;
  }
  .preview-texts a {
    font-size: 16px;
  }
}

@media screen and (max-width: 912px) {
  .bannerHome-top3 h1 {
    text-align: center;
  }
  .bannerGenre {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .bannerGenre {
    max-width: 400px;
    margin: 0 auto;
  }
  .bannerGenre div:nth-of-type(2) {
    margin-bottom: 25px;
  }
  .bannerGenre h2 {
    margin-top: 5px;
  }
  .bannerGenre img {
    width: 250px !important;
  }
  .bannerHomeSlider-bullets {
    margin-top: 1110px;
  }
}

@media screen and (max-width: 834px) {
  .preview-texts h2 {
    font-size: 18px;
  }
  .preview-texts a {
    font-size: 14px;
  }
}

@media screen and (max-width: 415px) {
  .bannerHomeSlider-bullets {
    margin-top: 1170px;
  }
}

@media screen and (max-width: 320px) {
  .bannerHomeSlider-bullets {
    margin-top: 1240px;
  }
}

@media screen and (max-width: 280px) {
  .bannerHomeSlider-bullets {
    margin-top: 1260px;
  }
}
