.filmesPopulares-todos h1
    margin: 20px 0
    
.filmesPopulares-images
    display: flex
    flex-wrap: wrap
    justify-content: center
    width: 100%

.mudarPagina
    display: flex
    align-items: center
    justify-content: center
    user-select: none

.mudarPagina span
    cursor: pointer
    text-align: center
    width: 30px
    height: 30px
    line-height: 30px
    border-radius: 50%
    margin: 10px
    font-family: sans-serif
    font-weight: bold

.mudarPagina p
